*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  color: gray;
  font-size: 14px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #eceff4;
}
